apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  rhtap/gitops: ls5-jan292026
  janus-idp.io/tekton: ls5-jan292026
  backstage.io/kubernetes-id: ls5-jan292026
  backstage.io/kubernetes-namespace: hello
  app.kubernetes.io/part-of: ls5-jan292026
resources:
  - application-dev.yaml
